<% provide(:title, "Logowanie") %>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "Hasło" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Zaloguj się", class: "btn btn-primary" %>
    <% end %>

    <p>Nowy użytkownik? <%= link_to "Zarejestruj się", signup_path %></p>
    <p>Zaloguj się za pomocą konta Google: <%= link_to "Zaloguj się!", "#" %></p>
  </div>
</div>