    <li>
      Tytuł: <%= "\"#{book.title}\"" %>  <br>
	    Autor: <%= book.author  %> <br>
      Cena wypożyczenia za 1 dzień: <%= book.price  %> zł<br><br>

      <% if logged_in? %>
        <% if !current_user.borrowing?(book) %>
          <%= link_to "Szczegóły", book_path(book),class: "btn-warning" %><br><br>  
          <%= form_for(current_user.loans.build) do |f| %>
            <div><%= hidden_field_tag :book_id, book.id %></div>
            <%= f.submit "Wypożycz", class: "btn btn-primary btn-sm" %>
          <% end %>
        <% else %>
          <%= link_to "Czytaj", book_path(book),class: "btn-success" %> <br>
        <% end %>
      <% else %>
        <%= link_to "Szczegóły", book_path(book),class: "btn-warning" %>
      <% end %> 


      <% if logged_in? && current_user.admin? %>
          <br>
           <%= link_to "usuń", book, method: :delete,
                                     data: { confirm: "Jesteś pewien?" } %>   
          | <%= link_to "edytuj", edit_book_path(book) %>     
      <% end %> 


      <br><br>
    </li>