<% provide(:title, 'Spis książek') %>
<h1>Spis książek</h1>

Sortuj alfabetycznie po: <br> 
<%= link_to "tytule", books_path(order: 'title'), class: "button" %> 
<%= link_to "autorze", books_path(order: 'author'), class: "button" %><br>
<%= will_paginate %>

<ul class="books">
  <%= render @books %>
</ul>

<%= will_paginate %>